*.db-shm filter=lfs diff=lfs merge=lfs -text
*.db-wal filter=lfs diff=lfs merge=lfs -text
database/*.db* filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
data-processing/bronze/data/**/*.json filter=lfs diff=lfs merge=lfs -text
data-processing/silver/data/**/*.json filter=lfs diff=lfs merge=lfs -text
data-processing/gold/data/**/*.json filter=lfs diff=lfs merge=lfs -text
